@import "fonts";
@import "normalize";
@import "mixin";

@import "callout";
@import "explore";
@import "about";

.boundary {
  display: grid;
  grid-template-rows: 1fr;
  width: 100vw;
  grid-auto-flow: row;
}

.grd-btn {
  background: linear-gradient(90deg, #ff594c 0%, #fac527 100%);
  border-radius: 16px;
  border: none;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

.btn-call {
  width: 131px;
  height: 50px;
  border: 2px solid;
  border-radius: 10px;
  background: transparent;
  cursor: pointer;
  text-transform: capitalize;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;

  &-light {
    color: white;
    border-color: white;
  }

  &:hover {
    background: transparent;
  }
}
